body
{
    color: #333;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: rgb(42, 55, 116);
    box-shadow: 0px 2px 20px 0px black(0,0,0,0,5);
    color: white;
    font-weight: bold;
    padding: 1cm;
    margin: 0.5em;
}
#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}   
#cabecera #tagline
{
    padding: 0 0 0 1cm;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid black;
    margin: 0 auto;
}
#container h1
{
    background: white;
    padding: 1em;
}

#footer
{
    background: #37488b;
    color: white;
    text-align: center;
    padding: 0.5em;
}